<template>
    <div class="container" id="login">
        <h1>Login</h1>
        <br>
        <form @submit="onSubmit" class="w-100">
        <label id="form-title-group">Username : </label>
            <input id="form-title-input"
                    type="text"
                    class="form-control"
                    v-model="loginForm.username"
                    required>
            <br>
            <label id="form-author-group">Password : </label>
            <input id="form-author-input"
                    type="password"
                    class="form-control"
                    v-model="loginForm.password"
                    required>
        <br>
        <button type="submit"
        class="btn btn-primary"
        style="margin-right:20px;"
        variant="primary">Submit</button>
        <a href="/register">Register</a>
    </form>
    </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'Login',
  data() {
    return {
      loginForm: {
        username: '',
        password: '',
      },
    };
  },
  methods: {
    login(username, password) {
      const path = `http://localhost:5000/login/${username}/${password}`;
      axios.get(path)
        .then(() => {
          this.$router.push('/todolists');
          // eslint-disable-next-line
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    onSubmit(evt) {
      evt.preventDefault();
      this.login(this.loginForm.username, this.loginForm.password);
    },
  },
};
</script>

<style scoped>

</style>
