<template>
    <div class="container" id="login">
        <h1>Register</h1>
        <br>
        <form @submit="onSubmit" class="w-100">
        <label id="form-title-group">Username : </label>
            <input id="form-title-input"
                    type="text"
                    class="form-control"
                    v-model="registerForm.username"
                    required>
            <br>
            <label id="form-author-group">Password : </label>
            <input id="form-author-input"
                    type="password"
                    class="form-control"
                    v-model="registerForm.password"
                    required>
        <br>
        <button type="submit"
        class="btn btn-primary"
        style="margin-right:20px;"
        variant="primary">Submit</button>
        <a href="/login">Login</a>
    </form>
    </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'Register',
  data() {
    return {
      registerForm: {
        username: '',
        password: '',
      },
    };
  },
  methods: {
    register(username, password) {
      const path = `http://localhost:5000/register/${username}/${password}`;
      axios.post(path)
        .then(() => {
          this.$router.push('/login');
          // eslint-disable-next-line
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    onSubmit(evt) {
      evt.preventDefault();
      //   const password = this.addTodolistForm.password;
      this.register(this.registerForm.username, this.registerForm.password);
    },
  },
};
</script>

<style scoped>

</style>
