<script>
import axios from 'axios';
import Alert from './Alert.vue';
// import store from '../store';

export default {
  data() {
    return {
      todolists: [],
      addTodolistForm: {
        title: '',
      },
      editForm: {
        id: '',
        title: '',
      },
      message: '',
      showMessage: false,
      todolist: {},
      token: '',
    };
  },
  components: {
    alert: Alert,
  },
  methods: {
    getTodolists() {
      const path = 'http://localhost:5000/todolists';
      axios.get(path)
        .then((res) => {
          this.todolists = res.data.todolists;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    addTodolist(payload) {
      const path = 'http://localhost:5000/todolists';
      axios.post(path, payload)
        .then(() => {
          this.getTodolists();
          this.message = 'Todo list added !';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          this.showMessage = false;
          console.log(error);
          this.getTodolists();
        });
    },
    editTodolist(todolist) {
      this.editForm = todolist;
    },
    goTodolist(todolist) {
      this.$router.push(`/todolist/${todolist.id}`);
    },
    updateTodolist(payload, todolistID) {
      const path = `http://localhost:5000/todolists/${todolistID}`;
      axios.put(path, payload)
        .then(() => {
          this.getTodolists();
          this.message = 'Todolist updated!';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getTodolists();
        });
    },
    getTodolist(payload, todolistID) {
      const path = `http://localhost:5000/todolists/${todolistID}`;
      axios.get(path, payload)
        .then((res) => {
          this.getTodolists();
          this.todolist = res.data.todolist;
          // eslint-disable-next-line
          console.error(this.todolist);
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getTodolists();
        });
    },
    onResetUpdate(evt) {
      evt.preventDefault();
      this.$refs.editTodolistModal.hide();
      this.initForm();
      this.getTodolists();
    },
    onSubmitUpdate(evt) {
      evt.preventDefault();
      this.$refs.editTodolistModal.hide();
      const payload = {
        title: this.editForm.title,
      };
      this.updateTodolist(payload, this.editForm.id);
    },
    initForm() {
      this.addTodolistForm.title = '';
      this.editForm.id = '';
      this.editForm.title = '';
    },
    removeTodolist(todolistID) {
      const path = `http://localhost:5000/todolists/${todolistID}`;
      axios.delete(path)
        .then(() => {
          this.getTodolists();
          this.message = 'Todolist removed!';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getTodolists();
        });
    },
    onDeleteTodolist(todolist) {
      this.removeTodolist(todolist.id);
    },
    logout() {
      const path = 'http://localhost:5000/logout';
      axios.get(path)
        .then(() => {
          this.$router.push('/login');
          console.error(this.todolist);
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    onSubmit(evt) {
      evt.preventDefault();
      this.$refs.addTodolistModal.hide();
      const payload = {
        title: this.addTodolistForm.title,
      };
      this.addTodolist(payload);
      this.initForm();
    },
    onReset(evt) {
      evt.preventDefault();
      this.$refs.addTodolistModal.hide();
      this.initForm();
    },
  },
  created() {
    this.getTodolists();
  },
};
</script>

<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        <h1>Todo Lists</h1>
        <hr><br><br>
        <alert :message=message v-if="showMessage"></alert>
        <button type="button" class="btn btn-success btn-sm" v-b-modal.todolist-modal>
          Add Todolist
        </button>
        <button
          type="button"
          class="btn btn-primary btn-sm"
          style="margin:2px; float:right;"
          @click="logout()">
          Logout
        </button>
        <br><br>
        <table class="table table-hover">
          <tbody>
            <tr v-for="(todolist, index) in todolists" :key="index">
              <td>{{ todolist.title }}</td>
              <td>
                <div class="" style="" role="group">
                <button
                        type="button"
                        class="btn btn-primary btn-sm"
                        style="margin:2px;"
                        @click="goTodolist(todolist)">
                    Consult
                </button>
                <button
                        type="button"
                        class="btn btn-warning btn-sm"
                        style="margin:2px"
                        v-b-modal.todolist-update-modal
                        @click="editTodolist(todolist)">
                    Update
                </button>
                <button
                        type="button"
                        class="btn btn-danger btn-sm"
                        style="margin:2px"
                        @click="onDeleteTodolist(todolist)">
                    Delete
                </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <b-modal ref="addTodolistModal"
         id="todolist-modal"
         title="Add a new Todolist"
         hide-footer>
  <b-form @submit="onSubmit" @reset="onReset" class="w-100">
  <b-form-group id="form-title-group"
                label="Title:"
                label-for="form-title-input">
      <b-form-input id="form-title-input"
                    type="text"
                    v-model="addTodolistForm.title"
                    required
                    placeholder="Enter title">
      </b-form-input>
    </b-form-group>
    <b-button type="submit" style="margin:2px;"
      class="btn" variant="primary">Add</b-button>
      <b-button type="reset" style="margin:2px;"
     class="btn" variant="danger">Cancel</b-button>
  </b-form>
</b-modal>
<b-modal ref="editTodolistModal"
         id="todolist-update-modal"
         title="Update Todolist"
         hide-footer>
  <b-form @submit="onSubmitUpdate" @reset="onResetUpdate" class="w-100">
  <b-form-group id="form-title-edit-group"
                label="Title:"
                label-for="form-title-edit-input">
      <b-form-input id="form-title-edit-input"
                    type="text"
                    v-model="editForm.title"
                    required
                    placeholder="Enter title">
      </b-form-input>
    </b-form-group>
    <b-button type="submit" style="margin:2px;"
      class="btn" variant="primary">Update</b-button>
      <b-button type="reset" style="margin:2px;"
     class="btn" variant="danger">Cancel</b-button>
  </b-form>
</b-modal>
  </div>
</template>
