<script>
import axios from 'axios';
import Alert from './Alert.vue';
// import store from '../store';

export default {
  data() {
    return {
      todolists: [],
      todolist: {},
      showMessage: false,
      addTodoForm: {
        title: '',
      },
      editForm: {
        title: '',
      },
    };
  },
  components: {
    alert: Alert,
  },
  methods: {
    getTodolists() {
      const path = 'http://localhost:5000/todolists';
      axios.get(path)
        .then((res) => {
          this.todolists = res.data.todolists;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    getTodolist(todolistID) {
      const path = `http://localhost:5000/todolists/${todolistID}`;
      axios.get(path)
        .then((res) => {
          this.getTodolists();
          this.todolist = res.data.todolist;
          // eslint-disable-next-line
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getTodolists();
        });
    },
    addTodo(payload) {
      const path = `http://localhost:5000/todolist/${this.todolist.id}`;
      axios.post(path, payload)
        .then(() => {
          this.getTodolist(this.todolist.id);
          this.message = 'Todo added !';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          this.showMessage = false;
          console.log(error);
          this.getTodolist(this.todolist.id);
        });
    },
    editTodo(todo) {
      this.editForm = todo;
    },
    updateTodo(payload, todoID) {
      const path = `http://localhost:5000/todolist/${this.todolist.id}/${todoID}`;
      axios.put(path, payload)
        .then(() => {
          this.getTodolist(this.todolist.id);
          this.message = 'Todo updated!';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getTodolist(this.todolist.id);
        });
    },
    onResetUpdate(evt) {
      evt.preventDefault();
      this.$refs.editTodoModal.hide();
      this.initForm();
    },
    onSubmitUpdate(evt) {
      evt.preventDefault();
      this.$refs.editTodoModal.hide();
      const payload = {
        title: this.editForm.title,
      };
      this.updateTodo(payload, this.editForm.id);
    },
    removeTodo(todoID) {
      const path = `http://localhost:5000/todolist/${this.todolist.id}/${todoID}`;
      axios.delete(path)
        .then(() => {
          this.getTodolist(this.todolist.id);
          this.message = 'Todo removed!';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getTodolist(this.todolist.id);
        });
    },
    onDeleteTodo(todo) {
      this.removeTodo(todo.id);
    },
    onSubmit(evt) {
      evt.preventDefault();
      this.$refs.addTodoModal.hide();
      const payload = {
        title: this.addTodoForm.title,
      };
      this.addTodo(payload);
      this.initForm();
    },
    initForm() {
      this.addTodoForm.title = '';
      this.editForm.title = '';
    },
    onReset(evt) {
      evt.preventDefault();
      this.$refs.addTodoModal.hide();
      this.initForm();
    },
    logout() {
      const path = 'http://localhost:5000/logout';
      axios.get(path)
        .then(() => {
          this.$router.push('/login');
          console.error(this.todolist);
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
  },
  created() {
    this.getTodolist(this.$route.params.id);
  },
};
</script>

<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        <h1>{{ todolist.title }}</h1>
        <hr><br><br>
        <alert :message=message v-if="showMessage"></alert>
        <button type="button" class="btn btn-success btn-sm"
        style="margin:2px;" v-b-modal.todo-modal>
          Add Todo
        </button>
        <button type="button" style="margin:2px;" onClick="history.back()"
        class="btn btn-primary btn-sm">
          Retour
        </button>
        <button
          type="button"
          class="btn btn-primary btn-sm"
          style="margin:2px; float:right;"
          @click="logout()">
          Logout
        </button>
        <br><br>
        <table class="table table-hover">
          <tbody>
            <tr v-for="(todo, index) in todolist.todos" :key="index">
              <td>{{ todo.texte }}</td>
              <td>
                <div class="" role="group">
                <button
                        type="button"
                        class="btn btn-warning btn-sm"
                        style="margin:2px"
                        v-b-modal.todo-update-modal
                        @click="editTodo(todo)">
                    Update
                </button>
                <button
                        type="button"
                        class="btn btn-danger btn-sm"
                        style="margin:2px"
                        @click="onDeleteTodo(todo)">
                    Delete
                </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <b-modal ref="addTodoModal"
         id="todo-modal"
         title="Add a new todo"
         hide-footer>
  <b-form @submit="onSubmit" @reset="onReset" class="w-100">
  <b-form-group id="form-title-group"
                label="Todo:"
                label-for="form-title-input">
      <b-form-input id="form-title-input"
                    type="text"
                    v-model="addTodoForm.title"
                    required
                    placeholder="Enter todo">
      </b-form-input>
    </b-form-group>
    <b-button type="submit" style="margin:2px;" variant="primary">Add</b-button>
    <b-button type="reset" style="margin:2px;" variant="danger">Cancel</b-button>
  </b-form>
</b-modal>
<b-modal ref="editTodoModal"
         id="todo-update-modal"
         title="Update Todo"
         hide-footer>
  <b-form @submit="onSubmitUpdate" @reset="onResetUpdate" class="w-100">
  <b-form-group id="form-title-edit-group"
                label="Todo:"
                label-for="form-title-edit-input">
      <b-form-input id="form-title-edit-input"
                    type="text"
                    v-model="editForm.title"
                    required
                    placeholder="Enter todo">
      </b-form-input>
    </b-form-group>
      <b-button type="submit" class="btn"
      style="margin:2px" variant="primary">Update</b-button>
      <b-button type="reset" class="btn"
      style="margin:2px" variant="danger">Cancel</b-button>
  </b-form>
</b-modal>
  </div>
</template>
